@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-black text-white antialiased;
        margin: 0;
        font-family: 'Inter', system-ui, -apple-system, sans-serif;
    }
}